{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}


{% block title %}Create Invoice!{% endblock %}

{% block body %}
    <div style="width: 80%; background-color: #ebebe6; margin: 25px;padding: 25px">
        <h1>add Product</h1>
        {{ form(form) }}
    </div>
{% endblock %}