{% extends('base.html.twig') %}
{% block body %}
    <div style="width: 80%; background-color: #ebebe6; margin: 25px;padding: 25px">
<h1>{{ product.name }}</h1>
<h2>{{ product.description }}</h2>
<h4>Price {{ product.price }} PLN</h4>
    </div>
{% endblock %}